@mixin flexbox ($a, $b, $c, $d, $e:0) {
  display: flex;
  flex-flow: $a $b;
  justify-content: $c;
  align-items: $d;
  gap: $e;
}

@mixin center-grid {
  display: grid;
  place-content: center;
}

@mixin grid-column ($column,$min:1fr,$max:1fr, $gap:0){
  display: grid;
  grid-template-columns: repeat($column, minmax($min, $max));
  gap: $gap;
}