:root{
  --bg:#0A1109;
  --color-title:#C0C0C0;
  --color-text:#FFFFFF;
  --main-color:#00C056;
  --card-color:#082B15;
  --bg-nav:rgba(192, 192, 192, 0.2);
  --box-shadow:0px 0px 20px 0px var(--main-color);
  --drop-shadow:-4px 4px 8px var(--main-color);
  --links-color:#000000;
}