@use "../util/" as *;

.cards{
  display: grid;
  grid-template-columns: 1fr;
  gap: 1.5rem;
  justify-content: center;
  
  @include breakpoint(medium){
    grid-template-columns: 1fr 1fr;
    column-gap: 1.8rem;
  }
  @include breakpoint(large){
    grid-template-columns: repeat(3, 1fr);
    column-gap: 1.8rem;
  }

  .card{
    border-radius: 2rem;
    overflow: hidden;
    background: var(--card-color);
    @include flexbox(column, nowrap,space-between, stretch);

    &__cover{
      max-height: 14rem;
      min-height: 12rem;
      object-fit: cover;
    }
    &__content{
      padding: 1rem;
      height: 100%;
      @include flexbox(column, nowrap, space-between, center, 1rem);
    }
    &__title{
      font-size: 1.2rem;
    }
    &__techs{
      width: 100%;
      @include flexbox(row, nowrap, space-evenly, center);
    }
    &__description{
      font-size: .9rem;
      font-weight: 100;
      @include breakpoint(standard){
        font-size: 1rem;
      }
    }
    &__tech{
      font-weight: 100;
      color: var(--main-color);
    }
    &__links{
      width: 100%;
      @include flexbox(column, wrap, center, center, 1rem);
      @include breakpoint(standard){
        @include flexbox(row, wrap, space-between, center);
      }
    }
    &__link{
      margin-top: 0;
      font-size: 1rem;
      width: 100%;
      padding: .8rem 1.2rem;
      @include breakpoint(standard){
        width: auto;
      }
    }
  }
}